####################################################################
#           DB CONFIGURATION PROPERTIES 
####################################################################


# 1.JDBC_DRIVER
#   
#     JDBC Driver ..........
#
# (FOR ORACLE)
#JDBC_DRIVER=oracle.jdbc.driver.OracleDriver
#
# (FOR MS ACCESS)
#JDBC_DRIVER=sun.jdbc.odbc.JdbcOdbcDriver
#
# (FOR IBM DB2)
#JDBC_DRIVER=sun.jdbc.odbc.JdbcOdbcDriver
#
# (FOR HSQL)
#JDBC_DRIVER=org.hsqldb.jdbcDriver
#
# (FOR MS SQL 2000)
#JDBC_DRIVER=com.microsoft.jdbc.sqlserver.SQLServerDriver
#
# (FOR MS SQL 2005)
#JDBC_DRIVER=com.microsoft.sqlserver.jdbc.SQLServerDriver
#
# (FOR MySQL)
#JDBC_DRIVER=sun.jdbc.odbc.JdbcOdbcDriver
#JDBC_DRIVER=com.mysql.jdbc.Driver
#
# (FOR Sybase)
#JDBC_DRIVER=com.sybase.jdbc2.jdbc.SybDriver
#
# (FOR Apache Derby )
#JDBC_DRIVER=org.apache.derby.jdbc.EmbeddedDriver
#
# (FOR Postgresql Database)
#JDBC_DRIVER=org.postgresql.Driver
#
# (FOR H2 Database)
JDBC_DRIVER=org.h2.Driver


# 2.JDBC_CONNECTION_URL
#   
#     JDBC Connection URL ..........
#
# (FOR ORACLE) 
#JDBC_CONNECTION_URL=jdbc:oracle:thin:@164.164.128.14:1521:ORCL 
#
# (FOR MS ACCESS) 
#JDBC_CONNECTION_URL=jdbc:odbc:Driver={Driver do Microsoft Access (*.mdb)};DBQ=D:\\tif\\bin\\sp\\sbw.mdb
#
# (FOR HSQL)
#JDBC_CONNECTION_URL=jdbc:hsqldb:ESB_DEFAULT_DB_DIR/doctracking_db/sbw
#
# (FOR MS SQL 2000)
#JDBC_CONNECTION_URL=jdbc:microsoft:sqlserver://qalab01:1433;SelectMethod=Cursor
#
# (FOR MS SQL 2005)
#JDBC_CONNECTION_URL=jdbc:sqlserver://qalab01:1433;databaseName=<databaseName>;SelectMethod=Cursor
#
# (FOR MYSQL) sample is Data Source Name (DSN)
#JDBC_CONNECTION_URL=jdbc:odbc:sample
#JDBC_CONNECTION_URL=jdbc:mysql://<ipaddress>:<port>/<databasename>
#
# (FOR Sybase)
#JDBC_CONNECTION_URL=jdbc:sybase:Tds:Hostname:Port/SampleDB
#
# (FOR IBM DB2) sample is Data Source Name (DSN)
#JDBC_CONNECTION_URL=jdbc:odbc:sample
#
# (FOR Apache Derby)
# DerbyDB will be created within the user directory (set in fiorano_vars)
# ESB_DEFAULT_DB_DIR will be resolved to ESB_USER_DIR/EnterpriseServers/<profilename>
#JDBC_CONNECTION_URL=jdbc:derby:ESB_DEFAULT_DB_DIR/doctracking_db;create=true
#
# (FOR Postgresql Database)
#JDBC_CONNECTION_URL=jdbc:postgresql://<ip-address>:<port>/<databasename>
#
# (FOR H2 Database)
JDBC_CONNECTION_URL=jdbc:h2:ESB_DEFAULT_DB_DIR/doctracking_db/sbw



# 3.JDBC_LOGIN_NAME
#   
#     JDBC Login name ..........
#
#JDBC_LOGIN_NAME=eve
JDBC_LOGIN_NAME=sa
#JDBC_LOGIN_NAME=root
#JDBC_LOGIN_NAME=dba
#JDBC_LOGIN_NAME=postgres
#JDBC_LOGIN_NAME=

 
# 4.JDBC_PASSWORD
#   
#     JDBC Password ..........
#
#JDBC_PASSWORD=eve
#JDBC_PASSWORD=sql
JDBC_PASSWORD=



# 5.MAX_NO_OF_ROWS_TO_FETCH
#   
#     Max No Of Rows to Fetch ..........
#
MAX_NO_OF_ROWS_TO_FETCH=200


# 6.MAX_NO_OF_ROWS_TO_RETURN
#   
#     Max No Of Rows to Return ..........
#
MAX_NO_OF_ROWS_TO_RETURN=1000

# 7.JDBC_PROPERTIES
#   
#     JDBC_PROPERTIES ..........
#
#JDBC_PROPERTIES=msaccess_jdb.cfg
#JDBC_PROPERTIES=oracle8_jdbc.cfg
#JDBC_PROPERTIES=hsql_jdbc.cfg
#JDBC_PROPERTIES=mssql_jdbc.cfg
#JDBC_PROPERTIES=mysql_jdbc.cfg
#JDBC_PROPERTIES=sybase_jdbc.cfg
#JDBC_PROPERTIES=db2_jdbc.cfg
#JDBC_PROPERTIES=derby_jdbc.cfg
#JDBC_PROPERTIES=pgsql_jdbc.cfg
JDBC_PROPERTIES=h2_jdbc.cfg


# 8. AUTO_RECONNECT
#
#   boolean to specify whether SP should try for reconnection with DB automatically.
#
AUTO_RECONNECT=true

# 9. TRY_RECONNECT_INTERVAL
#
#  interval (in secs) after which SP tries to reconnect with DB incase of break in connection.
#
TRY_RECONNECT_INTERVAL=5

# 10. INSERT_THREAD_COUNT
#
# number of threads which will spawned for inserting sbw data into the database
#
INSERT_THREAD_COUNT=1

# 11. SUPPORT_MASTER_TABLE
#
# set to true if backwards compatibility with earlier SBW schema (1001) is required
SUPPORT_MASTER_TABLE=false

# 12. REPRESENTABLE DATA TYPE REQUIRED.
#
# set to true to store MESSAGE in representable data format.
REPRESENTABLE_DATA_TYPES=false

########################################################################################################
# Note: Properties applicable to the JDBC driver can be set here by adding the prefix 'JDBC_DRIVER_' to
# the name of property followed by the '=' symbol and the value.
########################################################################################################

# 12. JDBC DRIVER SOCKET READ TIME OUT (IN MILLI SECONDS)
#
# Read timeout while reading from the socket.
#
# (FOR ORACLE - applicable for 'thin' driver only)
#JDBC_DRIVER_oracle.jdbc.ReadTimeout=60000
# (FOR MYSQL)
#JDBC_DRIVER_socketTimeout=60000

###########################################################################


